<div class="content">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
   
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="content-carousel">
          <div class="right"></div>
          <div class="left"></div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="content-carousel">
          <div class="right"></div>
          <div class="left"></div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="content-carousel">
          <div class="right"></div>
          <div class="left"></div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="content-carousel">
          <div class="right"></div>
          <div class="left"></div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="content-carousel">
          <div class="right"></div>
          <div class="left"></div>
        </div>
      </div>
    </div>
    <ul class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ul>
  </div>
 
</div>