<div class="content-orders-history">
  <table>
    <thead>
    <th>№</th>
    <th>Дата</th>
    <th>Адреса</th>
    <th>Сума</th>
    <th>Статус</th>
    <th></th>
    </thead>
    <tbody>
    <!--  <tr *ngFor="let category of adminCategories">-->
    <!--    <td>{{ category.id }}</td>-->
    <!--    <td>{{ category.title }}</td>-->
    <!--    <td>{{ category.way }}</td>-->
    <!--    <td class="td-img">-->
    <!--      <img [src]="category.img" alt="" height="50px">-->
    <!--    </td>-->
    <!--    <td class="buttons-control">-->
    <!--      <button class="button-edit" (click)="repeat()"> Редагувати </button>-->
    <!--    </td>-->
    <!--  </tr>-->

    <tr>
      <td>№ 3151</td>
      <td>2.04.2024</td>
      <td>Самовивіз</td>
      <td>680 грн</td>
      <td>• виконано</td>

      <td class="buttons-control">
        <button class="button-repeat" (click)="repeat()"> Повторити </button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
